body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
   
   .landingContainer {
        background-image: url('./fondoLanding/F1.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }